html,body {
 margin: 0;
 padding: 0;
}
#main {
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: royalblue;
}
#main__content {
 width: 40%;
 height: 50vh;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 background-color: rgb(3, 11, 34);
 color: white;
}
p{
 font-size: 20px;
 margin:  0px;
}